{% extends "three_p5/Style.html" %}
{% load staticfiles otree %}

{% block title %}
    <h2 id="bold">Task 2: How do you think others play in this game?</h2>
{% endblock %}

{% block content %}

    {% include Constants.instructions_belief_hiddennumber %}

    <p>
        The message P1 sent to P2 reporting on the <b id="hidden"> hidden number </b> was {{player.report_1}}.
        What number do you think P1 drew as the <b id="hidden"> hidden number </b> before sending his/her report?
    </p>

    <br>

    {% formfield player.belief1  label="" %}

    <button type="otree-btn-next" class="btn btn-primary btn-md"> Continue </button>

{% endblock %}
